{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div ng-app="app">
   <div ng-controller="MainController">

<div id="grad" class="col-md-12" style="z-index:2">
  <div id="logo">
    <a href="/"><span style="">Nutz</span> <img src="favicon.ico" width="40"><span id="untertitel"> - die ehrlichen Kontaktanzeigen | kostenlos und ohne Anmeldung</span></a>
  </div>
</div>

<div class="col-md-12" style="background-color: white; opacity: 0.6; border-radius: 20px; margin-top: -5px; z-index: 1; position: relative;">
  <i class="fa fa-pencil" style="font-size: 30px; padding: 10px;"></i><a href="mailto:schady@posteo.de?Subject=Anzeige schalten (nutz)&body=Bitte Spitzname, Alter und
   Anzeigentext einfügen. Die Anzeige wird dann schnellstmöglichst online gestellt.
   " style="color: black; font-size: 15px;">selber eine kostenlose Anzeige schalten</a>


   <span style="color:black; font-size: 15px;margin-top: 10px; float: right;margin-right: 20px;">
       Welches Geschlecht soll dein Partner haben?
     <a href="#m" ng-click="geschlechtAuswahl = true" ng-show="man"><i class="fa fa-male" style="font-size: 30px;"></i></a>
     <a href="#w" ng-click="geschlechtAuswahl = false" ng-show="woman"><i class="fa fa-female" style="font-size: 30px;"></i></a>
   </span>

</div>



     <!-- | filter:{geschlecht:geschlechtAuswahl}-->
     <div ng-repeat="anzeige in anzeigen | filter:{geschlecht:geschlechtAuswahl}" class="col-md-4">
       <div class="eineAnzeige spitzname">
         <div class="anzeigenkopf">
           <span ng-if="anzeige.geschlecht"><i class="fa fa-male"></i> </span>
           <span ng-if="!anzeige.geschlecht"><i class="fa fa-female"></i> </span>
           {{ '{{anzeige.spitzname}}' }}<span style="text-align: left; color:grey;"> ({{ '{{anzeige.alter}}'}})</span>

         </div>
         {{ '{{anzeige.anzeigeText}}' }}<br/ ><br/>
         <button style="float: right" type="button" name="{{'{{anzeige.id}}'}}" ng-click="$parent.liebe=anzeige.id" class="btn btn-warning btn-md" data-toggle="modal" data-target="#myModal">
        {{'{{anzeige.spitzname}}'}} schreiben
        </button>
        </div><br/>

        <div ng-model="anzeige" ng-show="$parent.liebe == anzeige.id" class="eineAnzeige" style="background-color: rgb(236, 151, 31);">
        <div ng-show="nachrichtGeschrieben">Danke! Nachricht wurde versendet.</div>
        <div ng-hide="nachrichtGeschrieben">
            <h3>Deine Nachricht an {{'{{anzeige.spitzname}}'}}</h3>
            <textarea placeholder="Deine Nachricht" name="nachricht" class="form-control" rows="5" id="comment" ng-model="$parent.nachricht"></textarea>
            <input type="text" id="email" required ng-model="$parent.emailia" class="form-control" placeholder="Deine Email"><br/>
            <button type="button" ng-click="nachrichtGeschrieben = true; nachrichtSenden(anzeige)" style="float: right;" class="btn btn-warning btn-md">
                Senden!
            </button>
          </div>
        </div>


      </div>
    </div>
  </div>


<!--

  <div id="navigation"  class="col-xs-12" style="text-align: center; padding-top:20px;">
    <div class="helper">
      Vor oder Weiter?
    </div>  <a href="#vor"><i class="fa fa-chevron-left" style="font-size: 80px;"></i></a>
    <a href="#zurück"><i class="fa fa-chevron-right" style="padding-left: 30px;font-size: 80px;"></i></a>
  </div>
</div>

-->
{% endblock %}
